<!DOCTYPE html>
<html>
    <head>
        <title>Profile Admin</title>
        <link rel="stylesheet" href="global.css">
    </head>
    <body>
        <div class="dashboard">
            <h1>Profile Admin</h1>
            <hr>
            <p>username: h̷̠͑ä̴͇͈́c̶̠͗̚k̵͓͕̽e̸̺̾̔r̸͔̀́
                <button disabled>✎</button></p>
            <p><span class="strike">Password</span> ғʟᴀɢ: <%= flag %> <button disabled>✎</button></p>
            <p>Role: admin <button disabled>✎</button></p>
            <br>
            <a id="button_flag_2" title="Click :)" href="/question">Nice work; We have a question for you.</a>
        </div>
    </body>
</html>